* {
  font-family: $medium-font;
  font-weight: 500;
}
.text-primary-md {
  color: $primary-md;
}
.text-45 {
  font-size: 45px;
}
.text-36 {
  font-size: 36px;
}
.text-22 {
  font-size: 22px;
  line-height: 38px;
}
.text-18 {
  font-size: 18px;
  line-height: 35px;
}
.p-fixed {
  position: fixed !important;
  z-index: 9;
}
a {
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}
main {
  background-image: url("../../assets/images/bg.png") !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
p {
  @media (min-width: 1024px) {
    white-space: pre-line;
  }
}
[v-cloak] {
  display: none;
}
.v-btn--variant-flat {
  box-shadow: 24px 24px 48px 0px #0000001a !important;
}
