* {
  font-family: $medium-font, "serif";
  font-weight: 500;
}
.text-primary-md {
  color: $primary-md;
}
.text-32 {
  font-size: 32px;
}
.text-36 {
  font-size: 36px;
}
.text-22 {
  font-size: 22px;
  line-height: 38px;
}
.text-18 {
  font-size: 18px;
  line-height: 35px;
}
.p-fixed {
  position: fixed !important;
  z-index: 9;
}
a,
button {
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}
main {
  background-image: url("../../assets/images/bg2.png") !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
p {
  @media (min-width: 1200px) {
    // white-space: pre-line;
  }
}
[v-cloak] {
  display: none;
}
.v-btn--variant-flat {
  box-shadow: 24px 24px 48px 0px #0000001a !important;
}
.v-field--variant-solo-filled {
  background: #f4f4f4 !important;
}
input[type="date"] {
  flex-direction: row-reverse !important;
  height: 40px !important;
}
.gray-span {
  color: $gray-span;
}
.v-dialog {
  .v-card {
    overflow: visible !important;
    border-radius: 13px !important;
  }
  &--close {
    position: absolute;
    left: -18px;
    top: -18px;
    border: 2px solid;
  }
}
.serif {
  font-family: sans-serif !important;
}
.block {
  @media (max-width: 1280px) {
    display: block !important;
  }
}
.v-chip--variant-tonal .v-chip__underlay {
  background: transparent !important;
}

.nomargin {
  @media (max-width: 500px) {
    margin: 0px !important;
  }
}

.dp__overlay_cell_active {
  background-color: $primary-md !important;
}

.dp__input {
  background: #ebebeb !important;
  height: 40px;
  border-radius: 4px !important;
  border: none !important;
}
.dp__outer_menu_wrap ,.dp--menu-wrapper{
  bottom: 0px !important;
  top: auto !important;
}
.visible{
  overflow: visible !important;
}

.dp__icon {
  .dp__input_icon {
    .dp__input_icons{
      position: absolute;
      left: 0 !important;
  }
}

}
iframe{
  width: 100%;
}