// colors
$primary: #00594f;
$primary-md: #00ab84;
$white: #ffffff;
$black: #000000;
$purple: #c590ff;
$light-purple: #f3e8ff;
$green: #3cd856;
$light-green: #dcfce7;
$orange: #ff947a;
$light-orange: #fff4de;
$red: #fa5a7d;
$light-red: #ffe2e5;
$light-gray: #f9f8fe;
$chip: #aeb6cf;
$tab-border: #d0d5dd;
$select-placeholder:#6C757D;
$tabs-slide:#E0E9F4;
$gray-span: #667085;
// font
$medium-font: "dinar md";
// $light-font: 'dinar normal';
