// colors
$primary: #00594F;
$primary-md: #00AB84;
$white: #ffffff;
$black: #000000;
$purple: #C590FF;
$light-purple: #F3E8FF;
$green:  #3CD856;
$light-green: #DCFCE7;
$orange: #FF947A;
$light-orange: #FFF4DE;
$red: #FA5A7D;
$light-red: #FFE2E5;
$light-gray: #F9F8FE;

// font
$medium-font: 'dinar medium';
$light-font: 'dinar normal';