.chips-style {
  background-color: #f3f3f3;
  border-radius: 8px;
  position: relative;
  overflow: visible !important;
  .v-chip {
    background-color: #b1ebdc;
    color: $black;
    font-size: 11px !important;
    border-radius: 14px;
    padding: 5px;
  }
  .chip-selected {
    background-color: $primary-md !important;
  }
  &::after{
    content: "";
    position: absolute;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f3f3f3;
    z-index: 9;
    display: block;
    right: 80px;
  }
}
// chipsstyle in table
.chipsstyle{
    font-size: 10px !important;
    padding: 7px !important;
    line-height: .1 !important;
    height: 17px !important;
    background-color: #a3d7ca !important;

}