.v-toolbar {
  padding-top: 1.5rem;
  &__content {
    overflow: inherit !important;
  }
}
.logotitle {
  color: $primary-md;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 5px -15px;
  @media (max-width: 400px) {
    display: none;
}

}
.v-list-item--density-default:not(.v-list-item--nav).v-list-item--one-line {
  padding-inline: 5px !important;
}
.transparent {
  background-color: transparent !important;
  .v-list-item {
    color: $black !important;
    font-weight: bold;
    &--active {
      background-color: transparent;
      color: $primary-md !important;
    }
    &__overlay {
      display: none !important;
    }
  }
}
.app-language {
  border: 1px solid $primary-md;
  height: 36px;
  padding: 0 0.25rem;
  text-transform: capitalize;
  border-radius: 4px;
}

//navigation
.v-navigation-drawer {
  // left: 0px !important;
  // z-index: 1004 !important;
  // transform: translateX(0px) !important;
  // position: fixed !important;
  // height: auto !important;
  // top: 60px !important;
  // bottom: auto !important;
  // width: 200px !important;
  // border-radius: 5px !important;
}
.redponsive-menu {
  .v-list-item--active {
    color: $primary-md !important;
    .v-list-item__overlay {
      display: none;
    }
  }
}
.v-navigation-drawer__scrim {
  display: none;
}
.mobile-style {
  background-color: transparent;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  $breakpoint-tablet: 550px;
  img {
    margin: -10px;
  }
  .v-btn {
    @media (max-width: $breakpoint-tablet) {
      margin: auto -40px;
    }
  }
}
.nav-dr {
  .v-list-item {
    color: $black !important;
    font-weight: bold;
    &--active {
      background-color: transparent;
      color: $primary-md !important;
    }
    &__overlay {
      display: none !important;
    }
  }
}
.changecolor {
  background-color: white !important;
  padding-top: 0rem;
}
.img-intro {
  position: relative;
  &::before {
    content: "";
    background-image: url("/src/assets/images/after-slider.png");
    position: absolute;
    bottom: -27px;
    height: 143px;
    width: 150px;
    left: -5px;
    z-index: 0;
  }
}
.langbtn {
  box-shadow: none !important;
  @media (max-width: 600px) {
    font-size: 12px !important;
  }
}
