@font-face {
    font-family: 'dinar normal';
    src: url('GEDinarTwo-Light.woff2') format('woff2'),
        url('GEDinarTwo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dinar medium';
    src: url('GEDinarTwo-Medium.woff2') format('woff2'),
        url('GEDinarTwo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

